.content-container{
  padding: 0rem var(--content-padding);
  box-sizing: border-box;
}

.button{
  padding: 1rem;
  background-color: var(--background-color-primary);
  color: var(--font-color);
  font-family: var(--font-style);
  font-size: 1.5rem;
  outline: none;
  width: 8rem;
  margin-right:auto;
  display: block;
  border: 2px solid var(--primary-color);
  transition: border 300ms ease-out;
}

.button:disabled{
  border: 1px solid gray;
  background-color: gray;
  cursor: not-allowed;
}


.status-message{
  display: block;
  margin-top: 3rem;
  text-align: left;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
}

#success-msg{
  background-color: green;
}

#failure-msg{
  background-color: red;
}


#loading-msg{
  background-color: rgba(128, 128, 128, 0.808);
}

.input{
  display: inline-block;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  margin: 1rem 0rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--background-secondary);
  color: var(--font-color);
  font-family: var(--font-style);
  outline: none;
  border: 1px solid var(--border-color);
  transition: border 300ms ease-out;
}

select {
  background-color: transparent;
}

select > option {
  font-size: 1.5rem;
  background-color: #252525;
  color: var(--font-color);
  font-family: var(--font-style);
  white-space: nowrap;
  min-height: 1.2em;
  padding: 10px 2px 20px;
}

label{
  color: var(--secondary-color);
  font-size: 1.2rem;
}


input.ng-invalid.ng-touched{
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}


.col{
  width: 49%;
}

.link{
  color: var(--primary-color);
  text-decoration: none;
}


input:focus{
  border: 1px solid var(--secondary-color);
}

textarea:focus{
  border: 1px solid var(--secondary-color);

}

.form-box{
  width: 50%;
  position: relative;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1300px) {
  .form-box{
      width: 75%;
  }
}

@media screen and (max-width: 900px) {
  .form-box{
      width: 100%;
  }

  .button{
      margin-left: auto;
      margin-right: 0;
  }

  .status-message{
      text-align: center;
  }

  .content-container{
      padding: 0em 1.5rem 5em 1.5em;        
  }
}

