@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Source+Code+Pro:ital@1&display=swap");

.profile-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-secondary);
}

.header{
  display: flex;
  flex-basis: 500px;
  height: max-content;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
}

.verticle-divider{
  border: 2px solid white;
  margin: 3rem 0;
height: 300px;
}

.content-padding {
   padding: 4em 10% 8em 10%;
}

.profile-image-container {
  /* margin-bottom: 4em; */
  display: flex;
}

.info-container {
  display: flex;
  flex-direction: column;
  
}
.badge-art {
  height: 25rem;
  width: 25rem;
  padding: 1rem;
  border-radius: 12.5rem 12.5rem 12.5rem 12.5rem;
  background-color: var(--main-badge-color);
}


.profile-image {
  height: 25rem;
  width: 25rem;
  opacity: 0;
  animation: profile-image-anim 1s ease-out 0s 1 forwards;
}

.all-projects-img{
  height: 200px;
  margin-left: 3rem;
  margin-right: 3rem;
}

@keyframes profile-image-anim {
  100%{
    opacity: 1;
  }
}

.name-heading{
  color: white;
  font-family: "Raleway", sans-serif;
  text-shadow: 4px 4px var(--primary-color), 5px 5px var(--secondary-color);
  display: block;
}

.name {
  font-size: 4.5rem;
  line-height: 1.2;
  display: block;
}

.surname{
  font-size: 8rem;
  line-height: 1.5;
}

.tagline-container{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tagline {
  color: var(--primary-color);
  font-family: "Source Code Pro", monospace;
  font-size: 1.3rem;

  max-width: 100%;
}

.name:hover {
  text-shadow: 5px 5px var(--primary-color), 6px 6px var(--secondary-color);
}


.name-responsive{
  display: none;
}

@media screen and (max-width: 1450px) {
  /* .name {
    font-size: 10.3rem;
    line-height: 1.5;
  } */

  .verticle-divider{
    display: none;
  }

  .header{
    flex-direction: column;
    gap: 3.5rem;
  }

  .name, .surname{
    text-align: center;
  }

  .name{
    font-size: 4rem;
  }

  .surname{
    font-size: 6rem;
  }

  .center-responsive{
    justify-content: center;
    align-items: center;
  }

  .tagline{
    text-align: center;
  }

}

@media screen and (max-width: 900px) {

  .content-padding{
    padding: 4em 1.5em 8em 1.5em;
  }
}

@media screen and (max-width: 700px) {
  .name{
    font-size: 3.5rem;
  }

  .surname{
    font-size: 5.3rem;
  }
}

@media screen and (max-width: 600px) {
  .name{
    font-size: 3rem;
  }

  .surname{
    font-size: 4.7rem;
  }
}

@media screen and (max-width: 550px) {
 
  .center-responsive{
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .name{
    font-size: 3rem;
  }

  .surname{
    font-size: 4.3rem;
  }
}