.app-container{
    flex: 1;
    background-color: var(--background-color-primary);
    
    padding-top: 10vh;
}

@media screen and (max-width: 1300px) {
    .app-container{
        padding-top: 0px;
    }
}