<section class="content-padding">
    <h2 class="subheading2">What do I do?</h2>
    
    <br>
    <br>

    <div class="two-columns">
      <!-- <div class="col-1"></div> -->
      <div class="col-1">
        <p class="content">
          I like developing new projects and exploring new technologies. I have
          a passion for good UI experience. I have explored and developed projects on Android Platform as well as web frameworks.
        </p>
        <br />
        <p class="content">
          I am fluent in various object oriented programming languages like
          Java, Python, Kotlin yet constantly exploring them more. Apart from that I've been exploring competitive programming with the help of Data Structures and Algorithms, solving more and more problems with C/C++.
        </p>
        <br>
        <p class="content">
          I have released an Android Application on Google Play Store and have
          developed several applications as learning challenges in Java, Python
          and Kotlin.
        </p>
        <br /><br />
      </div>
    </div>
    <button class="nav-button transition-background" [routerLink]="['/projects']">Projects</button>
  </section>